body{
    background-color: rgb(3, 58, 148);
}
/* ul{
    width: auto;
    height: auto;
    background-color:rgb(179, 179, 243);

} */
li{
    /* width: auto; */
    /* background-color:rgb(58, 56, 56); */
color: white;
}